<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FairHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1E3DEC91DF6A1E4006C85EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E3DEDD1DF6A1E4006C85EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E3DEE81DF6A1E4006C85EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
